:root {
    // Cloned default hex values from base/css_variables to be used in the system console
    --sys-away-indicator: #fdcd00;
    --sys-button-bg: #2185d0;
    --sys-button-color: #ffffff;
    --sys-center-channel-bg: #ffffff;
    --sys-center-channel-color: #152539;
    --sys-dnd-indicator: #f74343;
    --sys-error-text: #eb4742;
    --sys-link-color: #2185d0;
    --sys-mention-bg: #ffffff;
    --sys-mention-color: #113893;
    --sys-mention-highlight-bg: #ffe66c;
    --sys-mention-highlight-link: #6992e7;
    --sys-new-message-separator: #ffe66c;
    --sys-online-indicator: #34d5af;
    --sys-sidebar-bg: #ffffff;
    --sys-sidebar-header-bg: #ffffff;
    --sys-sidebar-header-text-color: #152539;
    --sys-sidebar-text: #152539;
    --sys-sidebar-text-60: #ffffff99;
    --sys-sidebar-text-80: #ffffffcc;
    --sys-sidebar-text-active-border: #6992e7;
    --sys-sidebar-text-active-color: #152539;
    --sys-sidebar-text-hover-bg: #eeeeee;
    --sys-sidebar-unread-text: #152539;

    // Cloned RGB values from base/css_variables, to be used as rgba(var(--sys-color), opacity_here) to apply opacity to base colors
    --sys-away-indicator-rgb: 253, 205, 0;
    --sys-button-bg-rgb: 33, 133, 208;
    --sys-button-color-rgb: 255, 255, 255;
    --sys-center-channel-bg-rgb: 255, 255, 255;
    --sys-center-channel-color-rgb: 21, 37, 57;
    --sys-dnd-indicator-rgb: 247, 67, 67;
    --sys-error-text-color-rgb: 235, 71, 66;
    --sys-link-color-rgb: 33, 133, 208;
    --sys-mention-bg-rgb: 255, 255, 255;
    --sys-mention-color-rgb: 17, 56, 147;
    --sys-mention-highlight-bg-rgb: 255, 230, 108;
    --sys-mention-highlight-link-rgb: 105, 146, 231;
    --sys-new-message-separator-rgb: 255, 230, 108;
    --sys-online-indicator-rgb: 52, 213, 175;
    --sys-sidebar-bg-rgb: 255, 255, 255;
    --sys-sidebar-header-bg-rgb: 255, 255, 255;
    --sys-sidebar-header-text-color-rgb: 21, 37, 57;
    --sys-sidebar-text-rgb: 21, 37, 57;
    --sys-sidebar-text-active-border-rgb: 105, 146, 231;
    --sys-sidebar-text-active-color-rgb: 21, 37, 57;
    --sys-sidebar-text-hover-bg-rgb: 238, 238, 238;
    --sys-sidebar-unread-text-rgb: 21, 37, 57;
}
